.header {
    background-color: #6c737e;
    position: relative;
    top: 0;
    left: 0;
    height: 80rem;
    clip-path: ellipse(100% 95% at 50% 0%);

    @media (max-width: 800px) {
        height: 65rem;
    }

    @media (max-width: 650px) {
        clip-path: ellipse(125% 95% at 50% 0%);
    }

    @media (max-width: 500px) {
        height: 55rem;
    }

    @media (max-width: 450px) {
        clip-path: ellipse(150% 95% at 50% 0%);
    }

    @media (max-width: 380px) {
        clip-path: ellipse(170% 95% at 50% 0%);
    }

    &-text {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @media (max-width: 800px) {
            width: 80%;
        }

        @media (max-width: 700px) {
            top: 38%;
        }

        & h1 {
            font-size: 9rem;
            margin-bottom: 4rem;

            @media (max-width: 800px) {
                font-size: 10rem;
            }

            @media (max-width: 650px) {
                font-size: 8rem;
            }
        }

        & p {
            font-size: 2.8rem;

            @media (max-width: 800px) {
                font-size: 3.5rem;
            }

            @media (max-width: 650px) {
                font-size: 2.6rem;
            }
        }
    }

    &-plus {
        height: 4rem;
        width: 4rem;
        position: absolute;
        transform-origin: center;

        @media (max-width: 800px) {
            visibility: hidden;
        }

        &-1 {
            transform: translate(30vw, 20rem) scale(1.3);
            opacity: 0.2;
            animation: plus 8s ease infinite backwards;
        }

        &-2 {
            transform: translate(12vw, 40rem);
            opacity: 0.4;
            animation: plus 10s ease infinite backwards;
            animation-delay: 2s;
        }

        &-3 {
            transform: translate(25vw, 55rem) scale(0.9);
            opacity: 0.3;
            animation: plus 6s ease infinite backwards;
            animation-delay: 2s;
        }

        &-4 {
            transform: translate(40vw, 65rem) scale(1.1);
            opacity: 0.4;
            animation: plus 8s ease infinite backwards;
            animation-delay: 3s;
        }

        &-5 {
            transform: translate(60vw, 58rem) scale(0.8);
            opacity: 0.3;
            animation: plus 10s ease infinite backwards;
        }

        &-6 {
            transform: translate(75vw, 50rem) scale(1.2);
            opacity: 0.5;
            animation: plus 10s ease infinite backwards;
            animation-delay: 2s;
        }

        &-7 {
            transform: translate(68vw, 20rem);
            opacity: 0.2;
            animation: plus 7s ease infinite backwards;
            animation-delay: 1s;
        }

        &-8 {
            transform: translate(85vw, 35rem) scale(0.7);
            opacity: 0.3;
            animation: plus 12s ease infinite backwards;
            animation-delay: 2s;
        }
    }

    &-spread {
        position: absolute;
    }
}

.plus {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 60px;
}
