@keyframes logo {
    from {
        stroke-dashoffset: -893;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes plus {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
