.about-page {
    &-header {
        height: 17rem;
        background-color: #6c737e;
        position: relative;
        padding: 0 5rem;
        margin: auto;

        @media (max-width: 700px) {
            height: 18rem;
        }

        @media (max-width: 500px) {
            height: 15rem;
        }

        & div {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            & h3 {
                @media (max-width: 700px) {
                    font-size: 4.5rem;
                }

                @media (max-width: 630px) {
                    font-size: 4rem;
                }

                @media (max-width: 424px) {
                    font-size: 3.6rem;
                }

                @media (max-width: 384px) {
                    font-size: 3.4rem;
                }

                @media (max-width: 360px) {
                    font-size: 3.2rem;
                }

                @media (max-width: 338px) {
                    font-size: 3rem;
                }
            }
        }

        & img {
            position: absolute;
            top: 50%;
            left: 12rem;
            transform: translate(-50%, -50%);
            height: 20rem;

            @media (max-width: 700px) {
                opacity: 0;
            }
        }
    }

    &-body {
        padding: 0 8%;
        overflow: hidden;

        & h3 {
            margin: 5rem 0;
        }
    }

    // general text
    &-text {
        font-size: 2rem;
        margin: 3rem 8%;
        line-height: 1.6;

        &-large {
            font-size: 4.5rem;
            flex: 0 0 35%;

            @media (max-width: 1300px) {
                font-size: 3.5rem;
            }
        }

        &-value {
            flex: 0 0 65%;
            text-align: left;

            @media (max-width: 1000px) {
                text-align: center;
            }

            &-container {
                margin-bottom: 8rem;
            }
        }
    }
}

ul.about-page-text {
    @media (max-width: 1600px) {
        margin: 0;
        margin-bottom: 10rem;
    }

    & li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;

        & div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3rem;

            @media (max-width: 1000px) {
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }
}

.mission {
    @media (max-width: 416px) {
        font-size: 4rem;
    }
}
