.header {
    background-color: #6c737e;
    position: relative;
    top: 0;
    left: 0;
    height: 200rem;
    clip-path: ellipse(100% 45% at 50% 0%);

    &-logo {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 30rem;
        height: 30rem;
    }
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 3rem 6rem;

    & a {
        font-size: 2rem;
        text-transform: lowercase;
        margin-right: 3rem;
    }
}
