@import "../abstracts/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines that 1rem is 10px
    font-size: 62.5%;

    @include media(xl) {
        font-size: 75%; //75% of 16 is 12px
    }

    @include media(tablet-l) {
        font-size: 56.25%; //56.25% of 16 is 9px
    }

    @include media(tablet-p) {
        font-size: 50%; //50% of 16 is 8px
    }

    @include media(phone) {
        font-size: 50%; //50% of 16 is 8px
    }
}

body {
    background-color: #e8ecf1;
    font-family: "Didact Gothic", sans-serif;
}
